.Slide {
    min-width: 30%;
    max-width: 30%;
    height: auto;
    position: relative;
}

.NewsItem {
    float: left;
    width: 100%;
    height: auto;
    border: solid 1px wheat;
    margin: 0.2rem auto;
    position: relative;
}

.moveNews {
    padding-left: 3rem;
    padding-right: 0.5rem;    
}



.NewsIndex {
    width: 100%;
    padding: 0.2rem;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 3rem;
    line-height: 3rem;
    
}

.NewsContent {
    width: 100%;
    padding: 0.4rem;
    width: 100%;
    height: auto;
    word-wrap: break-word;
    color: blue;
}